doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title}
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='/style2 copy.css')
  title= title
  link(rel="shortcut icon" type="image/png" href="/images/icon.png")

main.main
    .error
      .error__title
        h2.heading-primary.heading-secondary--error  Something went wrong!
      .error__msg= msg