doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title}
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='/css/style.css')
  title= Login
  link(rel="shortcut icon" type="image/png" href="/images/icon.png")
body
  .login
    
    .login__page
      h2.heading-primary.project_heading PROJECT MANAGEMENT TOOL
      .login_data
        .login__form
          
          h2.heading-primary.login_heading Login
          form.form.form--login
            .form__group
              label.form__label(for='email') Email address
              input#email.form__input(type='email', placeholder='you@example.com', required='required')
            .form__group.ma-bt-md
              label.form__label(for='password') Password
              input#password.form__input(type='password', placeholder='••••••••', required='required')
            .form__submit
              button.btn.btn--green Login
      .login__image
        img#login__image(src='/images/ui_bg.png', alt='background')
  script(src="/scripts/bundle.js")
