extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Click this link:  #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your Password
  p If you didn't reques password Change, please ignore this email!`
  p - Mr.K, CEO